# Desativa o comportamento de "frozen lockfile"
# - prefer-frozen-lockfile: em CI normalmente fica true; aqui forçamos false
# - frozen-lockfile: impede a instalação se o lock não casar com o package.json; deixamos false
prefer-frozen-lockfile=false
frozen-lockfile=false

# (Opcional) sempre salvar versão exata ao adicionar novas dependências
# evita ^ e ~ para não quebrar inesperadamente
save-exact=true
